<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<video width="400" height="400" controls>
    <source src="/users" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<video controls>
    <source src="/outVideo" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
